<head>
  <title>DeBray Carpenter - Software Developer</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<header>
  <h4>  DeBray Carpenter - Software Developer </h4>
</header>
<body>
  <div id="background">

  </div>
  <div id="aboutme">
    <h3>About Me</h3>
      <p>I am a Full-Stack Software Developer specializing in Node.js / JavaScript
        applications. I have over 10 years of experience as a freelance developer
        building sites for clients as well as for my own personal projects.
        I love a challenge, which makes software development so intriguing,
        as the possibilies endless if you are willing to learn and do the work.
        My passion is creating solutions to the problems people face everyday.
        One of my solutions to a common problem is one of my latest and most
        rewarding projects, gener8ight (work in progress), which is designed to
        help small businesses stay relevant in this digital age by generating them
        a (modern) website with the click of a button.
        <br>
  </div><div id="work">
    <div id="work-info">
      {{{body}}}
    </div>
  </div><div id="contact">
    <br>
    <h3>contact</h3>
    <div id="contact-info">
      <br>
      <h4>DeBray Carpenter<br>
      Call or Text: 415-261-5201<br>
      Email: <a href="mailto:dcarpen2@mail.ccsf.edu">dcarpen2@mail.ccsf.edu</a></h4>
      <div class="line-break">

      </div>
      <div class="row">
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        </div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <a href="https://www.linkedin.com/in/debrayc/"><img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-social-media-logos/099325-glossy-black-icon-social-media-logos-linkedin-logo-square2.png" height="30%" width="auto"/></a>
        </div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <a href="https://github.com/debrayc/"><img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" height="30%" width="auto"/></a>

        </div>
        <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

        </div>
      </div>
    </div>
  </div>
</body>
<footer>
  <p>App built by DeBray Carpenter</p>
</footer>
